<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up/In</title>
    <!-- Link to CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/Sign.css" />
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <div class="img">
                <img src="../static/img/icons8-ambulance.gif" alt="">
                <img src="../static/img/icons8-activity.gif" alt="">
                <img src="../static/img/icons8-blood-sample.gif" alt="">
            </div>
            <form action="/signup" method="post">
                <h1>Create Account</h1>
                <span>Use your email for registration</span>
                <input type="text" name="username" placeholder="Username" th:value="${username}" />
                <input type="password" name="password" placeholder="Password" th:value="${password}" />
                <input type="password" name="verifyPassword" placeholder="Verify Password" th:value="${vpassword}" />
                <div class="error">
                    <p th:text="${errorMess}"></p>
                </div>
                <button type="submit" name="action" value="signup">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <div class="img">
                <img src="../static/img/icons8-ambulance.gif" alt="">
                <img src="../static/img/icons8-activity.gif" alt="">
                <img src="../static/img/icons8-blood-sample.gif" alt="">
            </div>
            <form action="/signin" method="post">
                <h1>Sign in</h1>
                <span>Welcome Back!</span>
                <input type="text" name="username" placeholder="Username" th:value="${username}" />
                <input type="password" name="password" placeholder="Password" th:value="${password}" />
                <div class="error">
                    <p th:text="${errorMess}"></p>
                </div>
                <button type="submit" name="action" value="signin">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <div class="error"></div>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Link to JavaScript file -->
    <script src="../static/Sign.js"></script>
</body>
</html>
