<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedicalFile</title>
  <link rel="stylesheet" href="../static/MedicalFile.css">
</head>
<body>
  <div id="affiche">
    <div class="info">
      <div class="name">
        <h1 class="infoPat">Patient :</h1>
        <p class="NP" th:text="${fullName}">Nom, prénom</p>
      </div>
      <img src="../static/img/icons8-health-insurance-64.png" alt="">
      <div class="blood">
        <h2 class="infoPat">Blood Type :</h2>
        <!-- Check if dossier is null -->
  <!-- Display blood type if dossier is not null -->
  <p class="GS" th:text="${bloodType}">GS</p>

      </div>
    </div>
    <h2 class="consu">Consultations :</h2>
    <div class="cardContainer">
      <div class="card" th:each="consultation : ${consultations}">
        <h2 class="header" th:text="${#dates.format(consultation.dateCons, 'dd/MM/yyyy')}">Date Consu</h2>
        <p>Diagnosis: <span th:text="${consultation.diagnostic}">No diagnosis available</span></p>
          <p class="content" th:text="${consultation.medicament}">medoc</p>
        </div>
      </div>
  </div>
</body>
</html>
