<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedicalFile</title>
  <link rel="stylesheet" href="../static/MedicalFile.css">
</head>
<body>
  <div id="affiche">
    <div class="info">
      <div class="name">
        <h1 class="infoPat">Patient :</h1>
      <p class="NP">Nom, prénom</p>
      </div>
      <div class="blood">
        <h2 class="infoPat">Blood Type :</h2>
        <p class="GS">GS</p>
      </div>
    </div>
    <h2 class="consu">Consultations :</h2>
    <div class="cardContainer">
      <div class="card">
          <h2 class="header">Consu</h2>
          <p class="content">Information</p>
        </div>
        <div class="card">
          <h2 class="header">Consu</h2>
          <p class="content">Information</p>
        </div>
        <div class="card">
          <h2 class="header">Consu</h2>
          <p class="content">Information</p>
        </div>
        <div class="card">
          <h2 class="header">Consu</h2>
          <p class="content">Information</p>
        </div>
      </div>
  </div>
</body>
</html>
